

@{
    ViewData["Title"] = "MovieDetails";
    Layout = "~/Views/Layout/UserLayout.cshtml";
}


<head>
    <link rel="stylesheet" href="~/CinensSinemalari/assets/css/movies.css">
</head>

    <!-- Movies -->
    <div class="movies">

@await Component.InvokeAsync("MovieInformation")

        <div class="filterdropdown">
            <div class="dropdown2">
                <button onclick="myFunction2()" class="dropbtn2">Şube Seçimi<i class="fa-solid fa-angle-down"></i></button>
                <div id="moviesDropdown" class="dropdown-content2">

                    @await Component.InvokeAsync("BranchList")

                </div>
            </div>
            <a href="#" class="filterbtn">
                <div href="#" class="btn">Filtrele</div>
            </a>
        </div>
    </div>
    <!-- Movies -->

    <!-- Sessions -->

    <div class="sessions">
        <div class="sections">
            <div class="title">
                <h1>Seanslar</h1>
            </div>
            <div class="dates">
                <div class="tab">
                    <button class="tablinks" id="defaultOpen" onclick="sessions(event, 'Cuma')"><p>@DateTime.Now.ToString("dd MMMM ddd ")</p></button>
                    <button class="tablinks" onclick="sessions(event, 'Cumartesi')"><p>@DateTime.Now.AddDays(2).ToString("dd MMMM ddd ")</p></button>
                    <button class="tablinks" onclick="sessions(event, 'Pazar')"><p>@DateTime.Now.AddDays(3).ToString("dd MMMM ddd ")</p></button>
                    <button class="tablinks" onclick="sessions(event, 'Pazartesi')"><p>@DateTime.Now.AddDays(4).ToString("dd MMMM ddd ")</p></button>
                    <button class="tablinks" onclick="sessions(event, 'Salı')"><p>@DateTime.Now.AddDays(5).ToString("dd MMMM ddd ")</p></button>
                    <button class="tablinks" onclick="sessions(event, 'Çarşamba')"><p>@DateTime.Now.AddDays(6).ToString("dd MMMM ddd ")</p></button>
                    <button class="tablinks" onclick="sessions(event, 'Perşembe')"><p>@DateTime.Now.AddDays(7).ToString("dd MMMM ddd ")</p></button>
                </div>

                <div id="Cuma" class="tabcontent">
                    <div class="mersin">
                        <div class="title">
                            Cinens Sinemaları Mersin
                        </div>
                        <div class="salons">
                            <p>Salon 4</p>
                            <p>Salon 6</p>
                        </div>
                        <div class="turkce">
                            <div class="turkcedublaj">
                                <p>Türkçe Dublaj</p>
                                <div class="buttons">
                                    <button class="1">11:00</button>
                                    <button class="2">16:45</button>
                                    <button class="3">18:10</button>
                                </div>
                            </div>
                            <div class="turkcealtyazili">
                                <p>Türkçe Altyazılı</p>
                                <button class="1">11:00</button>
                                <button class="2">16:45</button>
                                <button class="3">18:10</button>
                            </div>
                        </div>
                    </div>




                    <div class="mersin">
                        <div class="title">
                            Cinens Sinemaları Venezia
                    </div>
                    <div class="salons">
                            <p>Salon 4</p>
                            <p>Salon 6</p>
                        </div>
                        <div class="turkce">
                            <div class="turkcedublaj">
                                <p>Türkçe Dublaj</p>
                                <div class="buttons">
                                    <button class="1">11:00</button>
                                    <button class="2">16:45</button>
                                    <button class="3">18:10</button>
                                </div>
                            </div>
                            <div class="turkcealtyazili">
                                <p>Türkçe Altyazılı</p>
                                <button class="1">11:00</button>
                                <button class="2">16:45</button>
                                <button class="3">18:10</button>
                            </div>
                        </div>
                    </div> 
                    <div class="adapazaricadde54">Cinens Sinemaları Adapazarı Cadde 54</div>
                    <div class="akhisar">Cinens Sinemaları Akhisar</div>
                    <div class="antakya">Cinens Sinemaları Antakya</div>
                    <div class="uskudarnevcarsi">Cinens Sinemaları Üsküdar NevÇarşı</div>
                    <div class="mersinerdemli">Cinens Sinemaları Mersin Erdemli Şubesi</div>
                    <div class="citycenter">Cinens Sinemaları City Center</div>
                    <div class="manisa">Cinens Sinemaları Manisa</div>
                    <div class="usakfestiva">Cinens Sinemaları Uşak Festiva</div>
                </div>

                <div id="Cumartesi" class="tabcontent">
                </div>
                <div id="Pazar" class="tabcontent">
                </div>
                <div id="Pazartesi" class="tabcontent">
                </div>
                <div id="Salı" class="tabcontent">
                </div>
                <div id="Çarşamba" class="tabcontent">
                </div>
                <div id="Perşembe" class="tabcontent">
                </div>
            </div>
        </div>
    </div>

    <!-- Sessions -->





    <script src="~/CinensSinemalari/assets/js/movies.js"></script>
    <script>
        document.getElementById("defaultOpen").click();
    </script>


