

@{
    ViewData["Title"] = "MovieDetails";
    Layout = "~/Views/Layout/UserLayout.cshtml";
}


<head>
    <link rel="stylesheet" href="~/CinensSinemalari/assets/css/movies.css">
</head>

    <!-- Movies -->
    <div class="movies">

@await Component.InvokeAsync("MovieInformation")

        <div class="filterdropdown">
            <div class="dropdown2">
                <button onclick="myFunction2()" class="dropbtn2">Şube Seçimi<i class="fa-solid fa-angle-down"></i></button>
                <div id="moviesDropdown" class="dropdown-content2">

                    @await Component.InvokeAsync("BranchList")

                </div>
            </div>
            <a href="#" class="filterbtn">
                <div href="#" class="btn">Filtrele</div>
            </a>
        </div>
    </div>
    <!-- Movies -->

    <!-- Sessions -->

    <div class="sessions">
        <div class="sections">
            <div class="title">
                <h1>Seanslar</h1>
            </div>
            <div class="dates">
                <div class="tab">
                    <button class="tablinks" id="defaultOpen" onclick="sessions(event, 'Cuma')"><p>@DateTime.Now.ToString("dd MMMM ddd ")</p></button>
                    <button class="tablinks" onclick="sessions(event, 'Cumartesi')"><p>@DateTime.Now.AddDays(1).ToString("dd MMMM ddd ")</p></button>
                    <button class="tablinks" onclick="sessions(event, 'Pazar')"><p>@DateTime.Now.AddDays(2).ToString("dd MMMM ddd ")</p></button>
                    <button class="tablinks" onclick="sessions(event, 'Pazartesi')"><p>@DateTime.Now.AddDays(3).ToString("dd MMMM ddd ")</p></button>
                    <button class="tablinks" onclick="sessions(event, 'Salı')"><p>@DateTime.Now.AddDays(4).ToString("dd MMMM ddd ")</p></button>
                    <button class="tablinks" onclick="sessions(event, 'Çarşamba')"><p>@DateTime.Now.AddDays(5).ToString("dd MMMM ddd ")</p></button>
                    <button class="tablinks" onclick="sessions(event, 'Perşembe')"><p>@DateTime.Now.AddDays(6).ToString("dd MMMM ddd ")</p></button>
                </div>

                

                <div id="Cuma" class="tabcontent">
                    @await Component.InvokeAsync("MovieBranches");
                </div>

                <div id="Cumartesi" class="tabcontent">
                </div>
                <div id="Pazar" class="tabcontent">
                </div>
                <div id="Pazartesi" class="tabcontent">
                </div>
                <div id="Salı" class="tabcontent">
                </div>
                <div id="Çarşamba" class="tabcontent">
                </div>
                <div id="Perşembe" class="tabcontent">
                </div>
            </div>
        </div>
    </div>

    <!-- Sessions -->





    <script src="~/CinensSinemalari/assets/js/movies.js"></script>
    <script>
        document.getElementById("defaultOpen").click();
    </script>


